VITE_SUPABASE_URL =  "" // The URL of your Supabase instance. You can find this in the Supabase dashboard under "Settings" > "API".
VITE_SUPABASE_ANON_KEY = "" // The anonymous public API key for your Supabase instance. You can find this in the Supabase dashboard under "Settings" > "API". This key is used for client-side interactions with Supabase.